.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0 12px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.delete-event-btn {
  border: none;
  outline: none;
  background: inherit;
}
.delete-event-btn__text {
  margin-left: 15px;
}

.time-line {
  width: 100%;
  position: absolute;
  background-color: red;
  height: 1px;
}

.header {
  display: flex;
  padding-top: 10px;
  padding-left: 50px;
}
.navigation {
  margin-left: 20px;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}
.calendar__header {
  margin-left: 48px;
  display: flex;
  height: 100px;
}
.calendar__body {
  display: flex;
  overflow: auto;
}
.calendar__week {
  display: flex;
  flex: 1;
}
.calendar__week-container {
  display: flex;
  width: 100%;
  height: fit-content;
}
.calendar__day {
  flex: 1;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}
.calendar__day:last-child {
  border-right: 1px solid #eee;
}
.calendar__time-slot {
  height: 60px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.day-label {
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-label__day-name {
  text-transform: uppercase;
  color: #70757a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-top: 15px;
}
.day-label__day-number {
  font-size: 26px;
  letter-spacing: -2.6px;
  color: #3c4043;
  margin: auto;
}

.calendar__time-scale {
  width: 48px;
  height: 100%;
}

.time-slot {
  height: 60px;
  width: 48px;
  position: relative;
}
.time-slot__time {
  position: relative;
  text-transform: uppercase;
  text-align: right;
  font-size: 12px;
}

.create-event {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.create-event__close-btn {
  background-color: inherit;
  border: none;
  outline: none;
  margin-left: auto;
}

.event-form {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.event-form__field {
  border: none;
  outline: none;
}
.event-form__field:focus {
  border-bottom: 3px solid #1a73e8;
}
.event-form__field-title {
  font-size: 20px;
}
.event-form__time {
  margin-top: 50px;
}
.event-form__textarea {
  margin-top: 50px;
}
.event-form__submit-btn {
  border: none;
  background-color: #1a73e8;
  margin-left: auto;
  margin-top: 30px;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.event {
  color: #fff;
  width: 120px;
  z-index: 5;
  background-color: rgb(3, 155, 229);
  position: absolute;
  padding: 10px;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
