// стили сетки календаря и заголовка календаря с днями недели
.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    margin-left: 48px;
    display: flex;
    height: 100px;
  }

  &__body {
    display: flex;
    overflow: auto;
  }
  
  &__week {
    display: flex;
    flex: 1;

    &-container {
      display: flex;
      width: 100%;
      height: fit-content;
    }
  }
  
  &__day {
    flex: 1;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    
    &:last-child {
      border-right: 1px solid #eee;
    }
  }

  &__time-slot {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #eee;
  }
}

.day-label {
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__day {
    &-name {
      text-transform: uppercase;
      color: #70757a;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.8px;
      margin-top: 15px;
    }
  
    &-number {
      font-size: 26px;
      letter-spacing: -2.6px;
      color: #3c4043;
      margin: auto;
    }
  }
}