// стили боковой временной шкалы
.calendar__time-scale {
  width: 48px;
  height: 100%;
}

.time-slot {
  height: 60px;
  width: 48px;
  position: relative;

  &__time {
    position: relative;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
  }
}